trigger:
  branches:
    include:
    - main

pr:
  branches:
    include:
    - main

resources:
  - repo: self

variables:
  backendImageName: 'legis-vue-backend'
  frontendImageName: 'legis-vue-frontend'
  tag: '$(Build.BuildId)'
  vmImageName: 'ubuntu-latest'
  azureServiceConnection: 'sc-ado-moregroup'
  containerRegistry: 'moregroupdev.azurecr.io'
  resourceGroupName: 'rg-legislation-tracker'
  backendContainerAppName: 'legis-vue-backend'
  frontendContainerAppName: 'legis-vue-frontend'

stages:
- stage: Build
  displayName: Build and Push
  jobs:
  - job: BuildBackend
    displayName: Build Backend
    pool:
      vmImage: $(vmImageName)
    steps:
    - task: Docker@2
      displayName: Build Backend Image
      inputs:
        containerRegistry: $(azureServiceConnection)
        repository: $(containerRegistry)/$(backendImageName)
        command: build
        Dockerfile: '$(Build.SourcesDirectory)/backend/Dockerfile'
        tags: |
          $(tag)
          latest

    - task: Docker@2
      displayName: Push Backend Image
      condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/main'))
      inputs:
        containerRegistry: $(azureServiceConnection)
        repository: $(containerRegistry)/$(backendImageName)
        command: push
        tags: |
          $(tag)
          latest

  - job: BuildFrontend
    displayName: Build Frontend
    pool:
      vmImage: $(vmImageName)
    steps:
    - task: Docker@2
      displayName: Build Frontend Image
      inputs:
        containerRegistry: $(azureServiceConnection)
        repository: $(containerRegistry)/$(frontendImageName)
        command: build
        Dockerfile: '$(Build.SourcesDirectory)/frontend/Dockerfile'
        tags: |
          $(tag)
          latest

    - task: Docker@2
      displayName: Push Frontend Image
      condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/main'))
      inputs:
        containerRegistry: $(azureServiceConnection)
        repository: $(containerRegistry)/$(frontendImageName)
        command: push
        tags: |
          $(tag)
          latest

- stage: Deploy
  displayName: Deploy to Container Apps
  dependsOn: Build
  condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/main'))
  jobs:
  - job: DeployBackend
    displayName: Deploy Backend
    pool:
      vmImage: $(vmImageName)
    steps:
    - task: AzureCLI@2
      displayName: Deploy Backend to Container App
      inputs:
        azureSubscription: $(azureServiceConnection)
        scriptType: bash
        scriptLocation: inlineScript
        inlineScript: |
          az containerapp update \
            --name $(backendContainerAppName) \
            --resource-group $(resourceGroupName) \
            --container-name $(backendContainerAppName) \
            --image $(containerRegistry)/$(backendImageName):$(tag)

  - job: DeployFrontend
    displayName: Deploy Frontend
    pool:
      vmImage: $(vmImageName)
    steps:
    - task: AzureCLI@2
      displayName: Deploy Frontend to Container App
      inputs:
        azureSubscription: $(azureServiceConnection)
        scriptType: bash
        scriptLocation: inlineScript
        inlineScript: |
          az containerapp update \
            --name $(frontendContainerAppName) \
            --resource-group $(resourceGroupName) \
            --container-name $(frontendContainerAppName) \
            --image $(containerRegistry)/$(frontendImageName):$(tag)
