trigger:
  branches:
    include:
    - main

pr:
  branches:
    include:
    - main

resources:
  - repo: self

variables:
  backendImageName: 'legis-vue-backend'
  frontendImageName: 'legis-vue-frontend'
  tag: '$(Build.BuildId)'
  vmImageName: 'ubuntu-latest'
  azureSubscription: 'da3b208d-e23d-4e3b-8901-1ee297dd91f0'
  containerRegistry: 'moregroupdev.azurecr.io'
  resourceGroupName: 'rg-legislation-tracker'
  backendContainerAppName: 'legis-vue-backend'
  frontendContainerAppName: 'legis-vue-frontend'

stages:
- stage: Build
  displayName: Build and Push
  jobs:
  - job: BuildBackend
    displayName: Build Backend
    pool:
      vmImage: $(vmImageName)
    steps:
    - task: AzureCLI@2
      displayName: Build and Push Backend Image
      inputs:
        azureSubscription: $(azureSubscription)
        scriptType: bash
        scriptLocation: inlineScript
        inlineScript: |
          # Login to ACR
          az acr login --name moregroupdev
          
          # Build image
          docker build -t $(containerRegistry)/$(backendImageName):$(tag) -t $(containerRegistry)/$(backendImageName):latest ./backend
          
          # Push image
          docker push $(containerRegistry)/$(backendImageName):$(tag)
          docker push $(containerRegistry)/$(backendImageName):latest

  - job: BuildFrontend
    displayName: Build Frontend
    pool:
      vmImage: $(vmImageName)
    steps:
    - task: AzureCLI@2
      displayName: Build and Push Frontend Image
      inputs:
        azureSubscription: $(azureSubscription)
        scriptType: bash
        scriptLocation: inlineScript
        inlineScript: |
          # Login to ACR
          az acr login --name moregroupdev
          
          # Build image
          docker build -t $(containerRegistry)/$(frontendImageName):$(tag) -t $(containerRegistry)/$(frontendImageName):latest ./frontend
          
          # Push image
          docker push $(containerRegistry)/$(frontendImageName):$(tag)
          docker push $(containerRegistry)/$(frontendImageName):latest

- stage: Deploy
  displayName: Deploy to Container Apps
  dependsOn: Build
  condition: succeeded()
  jobs:
  - job: DeployBackend
    displayName: Deploy Backend
    pool:
      vmImage: $(vmImageName)
    steps:
    - task: AzureCLI@2
      displayName: Deploy Backend to Container App
      inputs:
        azureSubscription: $(azureSubscription)
        scriptType: bash
        scriptLocation: inlineScript
        inlineScript: |
          az containerapp update \
            --name $(backendContainerAppName) \
            --resource-group $(resourceGroupName) \
            --container-name $(backendContainerAppName) \
            --image $(containerRegistry)/$(backendImageName):$(tag)

  - job: DeployFrontend
    displayName: Deploy Frontend
    pool:
      vmImage: $(vmImageName)
    steps:
    - task: AzureCLI@2
      displayName: Deploy Frontend to Container App
      inputs:
        azureSubscription: $(azureSubscription)
        scriptType: bash
        scriptLocation: inlineScript
        inlineScript: |
          az containerapp update \
            --name $(frontendContainerAppName) \
            --resource-group $(resourceGroupName) \
            --container-name $(frontendContainerAppName) \
            --image $(containerRegistry)/$(frontendImageName):$(tag)
