[Unit]
Description=Run Nightly Bill Update Service
Requires=nightly-bill-update.service

[Timer]
OnCalendar=*-*-* 02:00:00
Persistent=true

[Install]
WantedBy=timers.target
